body {
    background-color: aliceblue;
    /* background-image: url(./images/train-background.png) */
  }
  
  .jumbotron {
    background-color: rgba(4, 80, 124, 0.171);
  }

  #heading {
    font-family: 'Lato', sans-serif;
    font-weight: bold;
  }
  
  #subHeading {
    font-family: 'Lato', sans-serif;
    /* font-style: none; */
    color: #04507c;
    font-size: 18px;
  }
  
  #currentTime {
    font-size: 25px;
  }

  .panel-title {
    font-weight: bold;
  }
  
  th {
    font-weight: bold;
  }